<div class="createCat">
    <div class="parent">
        <div class="contents">
                <h1>Update Item</h1>
                <div class="form">
                    <form class="form-inline">
                       
                        <div class="form-group mx-sm-3 mb-2">
                          <label for="inputPassword2 " class="sr-only" ></label>
                          <input #CaUpInput type="text" class="form-control form-control form-control-lg" id="inputPassword2" placeholder="Enter new name">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2" routerLink="">Create</button>
                        <button type="submit" class="btn  mb-2" routerLink="">Cancel</button>

                       
                      </form>   
                </div>
                
        </div>
    </div>
</div>